* {
    margin: 0px;
}

.color-red {
    color: red;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
    padding: 15px;
}

.menus>ul {
    list-style: none;
    display: flex;
}

.menus li {
    margin-right: 20px;
    font-size: 20px;
}

.menus a {
    text-decoration: none;
    color: white;
}

.banner {
    background-image: linear-gradient(to top, rgba(63, 63, 63, 0.534), rgba(141, 141, 141, 0.255)), url('../asset/image/background.jpg');
    text-align: center;
    height: 100vh;
}

.header-title {
    font-size: 55px;
    color: white;
    padding-top: 40vh;
}

.header-para {
    margin-top: 10px;
    font-size: 20px;
    color: white;
}

.header-button-left {
    margin-top: 20px;
    padding: 15px 30px;
    background-color: red;
    font-size: 16px;
    border: none;
    color: white;
}

.header-button-right {
    margin-top: 20px;
    padding: 15px 30px;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    border: none;
    color: rgb(0, 0, 0);
}

/* Service section */
.service-container {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 30px;
}

.skills-container {
    display: flex;
}

.service-title {
    font-size: 35px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}

.service-para {
    margin-top: 20px;
    color: white;
    font-size: 18px;
    margin-bottom: 25px;
}

.service-second-para {
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}

.ceo-container {
    display: flex;
    align-items: center;
}

.ceo {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.ceo-img>img {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.ceo-title {
    color: white;
}

.line-and-button {
    display: flex;
}

.line {
    border-left: 2px solid red;
    margin-right: 10px;
}

.box {
    background-color: white;
    width: 200px;
    height: 200px;
    margin: 10px 5px;
    border-radius: 5px;
    padding: 30px;
}

.box>img {
    width: 100px;
    height: 100px;
    margin: 25px 50px;
}

.box>h3 {
    margin-top: 10PX;
    text-align: center;
    font-size: 20px;
    color: black;
}

.service-button {
    color: grey;
    background-color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
}